@import "./color";
@import "./mixins";

@font-face {
  font-family: "avenir-roman";
  src: url(/fonts/avenir-roman.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: avenir-roman;
}
html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  background: $fundo url(/imagens/disneyplus.jpg) no-repeat top;
  background-size: cover;
  color: $branco;
  @include medio {
    background: $fundo url(/imagens/background_mobile.jpg) no-repeat top;
    background-size: cover;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    @include medio {
      align-items: center;
    }
  }
}
header {
  width: 100%;
}

header nav {
  display: flex;
  justify-content: end;
  width: 100%;
  position: fixed;
  a {
    padding: 10px 15px;
    margin: 15px 30px;
    font-size: 1.1rem;
    text-decoration: none;
    border: solid 1px $prata;
    border-radius: 4px;
    color: $branco;
    background-color: $preto;
    transition: ease 0.4s;
  }
  a:hover {
    background-color: $branco;
    color: $preto;
  }
}

.topo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 23vh 0 0 3vw;
  @include medio {
    margin: 0;
    padding-top: 53vw;
  }

  .anuncio {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  img {
    display: block;
    width: 310px;
  }
  h1 {
    @include fontePadrao;
  }
  a {
    display: inline-flex;
    text-decoration: none;
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 40px;

    span {
      background-color: $lilas;
      width: 100%;
      font-size: 1.25rem;
      text-align: center;
      border-radius: 3px;
      padding: 18px;
      color: $branco;
      @include transitionHover;
    }
  }
  span:hover {
    @include lislasHover;
  }
}

.hint {
  margin: 90px 50px;
  height: 38px;
  width: 38px;
  color: $prata;
  background-color: transparent;
  border: transparent;
  @include medio {
  }
}
.plans {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    @include fonteGrande;
  }
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: red;

    li {
      padding: 0px 30px;
      background-color: blue;
      max-width: 380px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      img {
        width: 100%;
      }
      h2 {
        @include fontePadrao;
      }
      p {
        font-size: 22px;
      }
      a {
        display: inline-flex;
        text-decoration: none;
        width: 90%;
        margin-top: 40px;
        span {
          background-color: $lilas;
          width: 100%;
          font-size: 1.25rem;
          text-align: center;
          border-radius: 3px;
          padding: 18px;
          color: $branco;
          @include transitionHover;
        }
      }
    }
  }
}
