@font-face {
  font-family: "avenir-roman";
  src: url(/fonts/avenir-roman.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: avenir-roman;
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  background: #040814 url(/imagens/disneyplus.jpg) no-repeat top;
  background-size: cover;
  color: #f9f9f9;
}
@media (max-width: 1025px) {
  body {
    background: #040814 url(/imagens/background_mobile.jpg) no-repeat top;
    background-size: cover;
  }
}
body .main-content {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1025px) {
  body .main-content {
    align-items: center;
  }
}

header {
  width: 100%;
}

header nav {
  display: flex;
  justify-content: end;
  width: 100%;
  position: fixed;
  z-index: 3;
}
header nav a {
  padding: 10px 15px;
  margin: 15px 30px;
  font-size: 1.1rem;
  text-decoration: none;
  border: solid 1px silver;
  border-radius: 4px;
  color: #f9f9f9;
  background-color: rgba(0, 0, 0, 0.8);
  transition: ease 0.4s;
}
header nav a:hover {
  background-color: #f9f9f9;
  color: rgba(0, 0, 0, 0.8);
}

.topo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 18rem 0px 12rem 8rem;
}
@media (max-width: 1025px) {
  .topo {
    margin: 0;
    padding-top: 53vw;
  }
}
.topo .anuncio {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.topo img {
  display: block;
  width: 310px;
}
.topo h1 {
  margin-bottom: 20px;
  font-size: 1.65rem;
  letter-spacing: 1;
  color: #f9f9f9;
  text-align: center;
}
@media (max-width: 1025px) {
  .topo h1 {
    font-size: 1.4rem;
  }
}
.topo a {
  display: inline-flex;
  text-decoration: none;
  width: 90%;
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.topo a span {
  background-color: #6421ff;
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 3px;
  padding: 18px;
  color: #f9f9f9;
  transition: ease 0.2s;
}
.topo span:hover {
  background-color: #8921ff;
}

.hint {
  margin: 5rem 6rem;
  height: 38px;
  width: 38px;
  color: silver;
  background-color: transparent;
  border: transparent;
}
.plans {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}
.plans h1 {
  margin-bottom: 30px;
  font-size: 1.85rem;
  letter-spacing: 1.1;
  text-align: center;
  font-size: 2.5rem;
}
.plans ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}
.plans ul li {
  padding: 40px 20px;
  max-width: 380px;
  line-height: 1.5;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.plans ul li img {
  width: auto;
  height: 80px;
}
.plans ul li h2 {
  margin-bottom: 20px;
  font-size: 1.65rem;
  letter-spacing: 1;
  color: #f9f9f9;
  text-align: center;
  margin: 30px 0px 0px 0px;
}
.plans ul li p {
  width: 90%;
  height: 100px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  letter-spacing: 1;
  color: silver;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 0.7;
}
.plans ul li a {
  display: inline-flex;
  text-decoration: none;
  width: 90%;
  margin-top: 20px;
}
.plans ul li span {
  background-color: #6421ff;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.1rem;
  letter-spacing: 1;
  color: silver;
  text-align: center;
  text-align: center;
  font-weight: 500;
  border-radius: 3px;
  padding: 18px;
  color: #f9f9f9;
  text-transform: uppercase;
  transition: ease 0.2s;
}
.plans ul li span:hover {
  background-color: #8921ff;
}
.plans ul #popular {
  background: url(/imagens/popular.png) top no-repeat;
  background-size: contain;
}
.plans #note {
  margin-bottom: 10px;
  font-size: 1.1rem;
  letter-spacing: 1;
  color: silver;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 0.6;
  font-weight: 600;
}

.yourway {
  width: 100%;
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yourway img {
  width: 50%;
}
.yourway .yourWay__text {
  padding: 3rem;
  width: 50%;
}
.yourway .yourWay__text h2 {
  margin-bottom: 30px;
  font-size: 1.85rem;
  letter-spacing: 1.1;
  text-align: center;
  font-size: 2.5rem;
  text-align: start;
}
.yourway .yourWay__text p {
  margin-bottom: 10px;
  font-size: 1.1rem;
  letter-spacing: 1;
  color: silver;
  text-align: center;
  font-size: 1.1rem;
  text-align: start;
  line-height: 1.6;
  letter-spacing: 1.2;
}

.originals {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 5vw;
}
.originals h2 {
  margin-bottom: 30px;
  font-size: 1.85rem;
  letter-spacing: 1.1;
  text-align: center;
  font-size: 2.3rem;
}
.originals p {
  margin-bottom: 10px;
  font-size: 1.1rem;
  letter-spacing: 1;
  color: silver;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.originals ul {
  width: 100%;
  display: grid;
  list-style: none;
  gap: 1.5rem;
  grid-template-columns: auto auto auto;
}
.originals ul li img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.download {
  padding: 5vw;
  position: relative;
}
.download img {
  width: 100%;
}
.download div {
  width: 40%;
  max-width: calc(50% - 5vw);
  position: absolute;
  left: 52%;
  top: 40%;
}
.download div h2 {
  margin-bottom: 30px;
  font-size: 1.85rem;
  letter-spacing: 1.1;
  text-align: center;
  text-align: start;
}
.download div p {
  margin-bottom: 10px;
  font-size: 1.1rem;
  letter-spacing: 1;
  color: silver;
  text-align: center;
  text-align: start;
}

.devices {
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.devices h2 {
  margin-bottom: 30px;
  font-size: 1.85rem;
  letter-spacing: 1.1;
  text-align: center;
  font-size: 2.3rem;
}
.devices ul {
  display: flex;
  width: 100%;
}
.devices ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.devices ul li img {
  width: 100%;
}
.devices ul li h3 {
  margin-bottom: 20px;
  font-size: 1.65rem;
  letter-spacing: 1;
  color: #f9f9f9;
  text-align: center;
}
.devices ul li p {
  margin-bottom: 10px;
  font-size: 1.1rem;
  letter-spacing: 1;
  color: silver;
  text-align: center;
  font-size: 1.3rem;
}

.faq {
  padding: 5vw;
}
.faq h2 {
  margin-bottom: 30px;
  font-size: 1.85rem;
  letter-spacing: 1.1;
  text-align: center;
  font-size: 2.3rem;
}
.faq .container__open {
  background-color: green;
  padding: 1vw;
}
.faq .container__open .container__open--btn {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: transparent;
  margin-bottom: 20px;
  font-size: 1.65rem;
  letter-spacing: 1;
  color: #f9f9f9;
  text-align: center;
}
.faq .container__open--child {
  background-color: red;
  margin-bottom: 10px;
  font-size: 1.1rem;
  letter-spacing: 1;
  color: silver;
  text-align: center;
  font-size: 1.2rem;
  text-align: start;
  line-height: 2;
}

.info {
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info img {
  width: 100px;
}
.info div {
  padding: 0px 15vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.info div a {
  margin: 0.5rem 1rem;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 1.1rem;
  letter-spacing: 1;
  color: silver;
  text-align: center;
  font-size: 0.9rem;
}
.info p {
  padding-top: 2rem;
  text-align: center;
  font-size: 0.7rem;
}/*# sourceMappingURL=style.css.map */