@import "./color";
@import "./mixins";

@font-face {
  font-family: "avenir-roman";
  src: url(/fonts/avenir-roman.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: avenir-roman;
}
html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  background: $fundo url(/imagens/disneyplus.jpg) no-repeat top;
  background-size: cover;
  color: $branco;
  @include medio {
    background: $fundo url(/imagens/background_mobile.jpg) no-repeat top;
    background-size: cover;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    @include medio {
      align-items: center;
    }
  }
}
header {
  width: 100%;
}

header nav {
  display: flex;
  justify-content: end;
  width: 100%;
  position: fixed;
  z-index: 3;
  a {
    padding: 10px 15px;
    margin: 15px 30px;
    font-size: 1.1rem;
    text-decoration: none;
    border: solid 1px $prata;
    border-radius: 4px;
    color: $branco;
    background-color: $preto;
    transition: ease 0.4s;
  }
  a:hover {
    background-color: $branco;
    color: $preto;
  }
}

.topo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 18rem 0px 12rem 8rem;
  @include medio {
    margin: 0;
    padding-top: 53vw;
  }

  .anuncio {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  img {
    display: block;
    width: 310px;
  }
  h1 {
    @include fontePadrao;
    @include medio {
      font-size: 1.4rem;
    }
  }
  a {
    display: inline-flex;
    text-decoration: none;
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 40px;

    span {
      background-color: $lilas;
      width: 100%;
      font-size: 1.25rem;
      text-align: center;
      border-radius: 3px;
      padding: 18px;
      color: $branco;
      @include transitionHover;
    }
  }
  span:hover {
    @include lislasHover;
  }
}

.hint {
  margin: 5rem 6rem;
  height: 38px;
  width: 38px;
  color: $prata;
  background-color: transparent;
  border: transparent;
  @include medio {
  }
}
.plans {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  h1 {
    @include fonteGrande;

    font-size: 2.5rem;
  }
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;

    li {
      padding: 40px 20px;
      max-width: 380px;
      line-height: 1.5;
      display: flex;
      justify-content: start;
      flex-direction: column;
      align-items: center;
      text-align: center;
      img {
        width: auto;
        height: 80px;
      }
      h2 {
        @include fontePadrao;
        margin: 30px 0px 0px 0px;
      }
      p {
        width: 90%;
        height: 100px;
        @include fontePequena;
        font-size: 1.1rem;
        letter-spacing: 0.7;
      }
      a {
        display: inline-flex;
        text-decoration: none;
        width: 90%;
        margin-top: 20px;
      }

      span {
        background-color: $lilas;
        width: 100%;
        @include fontePequena;
        text-align: center;
        font-weight: 500;
        border-radius: 3px;
        padding: 18px;
        color: $branco;
        text-transform: uppercase;
        @include transitionHover;
      }
      span:hover {
        @include lislasHover;
      }
    }
    #popular {
      background: url(/imagens/popular.png) top no-repeat;
      background-size: contain;
    }
  }
  #note {
    @include fontePequena;
    font-size: 0.7rem;
    letter-spacing: 0.6;
    font-weight: 600;
  }
}

.yourway {
  width: 100%;
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 50%;
  }
  .yourWay__text {
    padding: 3rem;
    width: 50%;
    h2 {
      @include fonteGrande;
      font-size: 2.5rem;
      text-align: start;
    }
    p {
      @include fontePequena;
      font-size: 1.1rem;
      text-align: start;
      line-height: 1.6;
      letter-spacing: 1.2;
    }
  }
}

.originals {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 5vw;
  h2 {
    @include fonteGrande;
    font-size: 2.3rem;
  }
  p {
    @include fontePequena;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  ul {
    width: 100%;
    display: grid;
    list-style: none;
    gap: 1.5rem;
    grid-template-columns: auto auto auto;
    li {
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
  }
}
.download {
  padding: 5vw;
  position: relative;
  img {
    width: 100%;
  }
  div {
    width: 40%;
    max-width: calc(50% - 5vw);
    position: absolute;
    left: 52%;
    top: 40%;
    h2 {
      @include fonteGrande;
      text-align: start;
    }
    p {
      @include fontePequena;
      text-align: start;
    }
  }
}
.devices {
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    @include fonteGrande;
    font-size: 2.3rem;
  }
  ul {
    display: flex;
    width: 100%;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      img {
        width: 100%;
      }
      h3 {
        @include fontePadrao;
      }
      p {
        @include fontePequena;
        font-size: 1.3rem;
      }
    }
  }
}
.faq {
  padding: 5vw;
  h2 {
    @include fonteGrande;
    font-size: 2.3rem;
  }
  .container__open {
    background-color: green;
    padding: 1vw;

    .container__open--btn {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: transparent;
      border: transparent;
      @include fontePadrao;
    }
  }

  .container__open--child {
    background-color: red;
    @include fontePequena;
    font-size: 1.2rem;
    text-align: start;
    line-height: 2;
  }
}
.info {
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100px;
  }
  div {
    padding: 0px 15vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      margin: 0.5rem 1rem;
      text-decoration: none;
      @include fontePequena;
      font-size: 0.9rem;
    }
  }
  p {
    padding-top: 2rem;
    text-align: center;
    font-size: 0.7rem;
  }
}
