@font-face {
    font-family: Avenir Roman;
    src: url(/avenir-roman.ttf) format("truetype");
}

body{
    background: url(/disneyplus.jpg) center center no-repeat;
    background-size: cover;
    background-color: #050714;
    color: #f9f9f9;
    font-family: Avenir Roman;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    

}
.navEntrar{
    height: 70px;
    z-index: 3;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right: 0;
    top: 30px;
    right: 25px;


}
.navEntrar a{
    font-family: avenir roman;
    background:#040714 ;
    border: 1px solid silver;
    text-decoration: none;
    color:#f9f9f9;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 14px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition:.3s ease;  
}

.navEntrar a:hover{
    color: black;
    background:#f9f9f9;
}

.main-content{
    width: 100%;
    height: 100vh;
    

}
.topo{
    height: 700px;
    padding: 5.6vw;
    display: flex;
    justify-content: start;
    align-items: center;
}
.texto{
    max-width: 640px;
    width: 50%;
    z-index: 1;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    display: block;
    font-family:Avenir Roman,sans-serif;
    
}
.texto h1{
    font-size: 28px;
    line-height: 38px;

}
.texto img{
    max-width: 320px;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    width: 100%;


}
.botao{
    background-color:#6421ff ;
    border-radius: 4px;
    box-sizing: border-box;
    height: 68px;
    max-width:700px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:.2 ease 0s;

}

.texto a{
    text-decoration: none;
    color:#f9f9f9;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;

}
.botao:hover{
    background: #7a21ff;
    cursor: pointer;
}
.planos{
    padding-top: 12vh;

}
.planos h1{
    text-align: center;
    line-height: 58px;
    font-size: 44px;
    letter-spacing: 2px;
    margin: 0 0 30px 0;
}
.listaPlanos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    padding-left: 0px;
}
.listaPlanos li{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    box-sizing: border-box;
    height: auto;
    justify-content: space-between;
    max-width: 380px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    padding:60px 40px 0 ;

}
.listaPlanos li img{
    width: 100%;
    display: block;
    height: auto;
}
.listaPlanos li h3{
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 0px;
}
.listaPlanos li p{
    margin: 0px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    color: #bababb;
    letter-spacing: .2px;
    font-weight:bold;
}
.planos ul li:nth-child(2){
    background: url(/popular.png) center center no-repeat;
}
.planoFooter{
    text-align: center;
    margin-top: 28px ;
    letter-spacing: .2px;
    width: 100%;
}

.planoFooter a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width:360px;
    width: 100%;
    height: 60px;
    text-decoration: none;
    color: silver;
    background-color: #6421ff;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    transition: .3s;

}
.planoFooter a:hover{
 background-color: #7a21ff;
}

#letrasPequenas{
    text-align: center;
    margin-top: 4vh;
    color: #bababb;
    font-size: 14px;
    letter-spacing: .2;
}
